.container-fluid {
  padding: 0 30px;

  >.row {
    margin: 0 -15px;

    @media (max-width: 768px) {
      margin: 0;
    }

    @media (max-width: 320px) {
      display: table;
    }
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}